body {
    background-color: currentColor;
}

.question-container {
    margin-top : 5em;
    background-color: cadetblue;
    cursor: pointer;
    border-radius: 8px;
    padding: 1em;
}
.question-container:hover {
    background-color: chartreuse;
}
.question-head {
    font-size: medium;
    color : black;
    font-family: sans-serif;
}

.question-body {
    background-color: lightgray;
    border-radius: 8px;
    padding: 10px;
    font-size: large;
    color : black;
}

.expand-arrow-container {
    float: right;
}

.expand-arrow-image {
    height: 30px;
    width: 30px;
}
